ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 5px solid #000000;
  background-color: #902D41;
  min-width: 250px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #574B60;
}

ul li a.active {
    background-color: #35FF69;
    color: black;
    border-bottom: 2px solid white;
}

